@import "variables.css";
@import "btn-up.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, Jost, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  background: #fff;
  width: 100%;
  min-height: 100%;

  color: #000;

  scrollbar-color: limegreen limegreen;
}
::-webkit-scrollbar {
  width: 10px;
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background: limegreen;
}


a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  font-size: inherit;
}

* {
  box-sizing: border-box;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.root {
  margin: auto;
  position: relative;

  min-height: 100vh;
  display: flex;
  flex-direction: column;

}

#__next, .root {
  width: 100%;
  height: 100%;
}


.is-sticky {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  /*padding: 30px 0 30px 30px;*/
  /*background: var(--nav-bg-color);*/
  animation: 30s ease-in-out normal;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  border-radius: 0 0 15px 15px;
}
.SuperTokensComponent {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}